.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 0 15px 0;
  font-size: calc(10px + 2vmin);
  background-color: white;
  color: #000;
}

.Header-container > :not(:last-child) {
  margin-right: 10px;
}

.Header-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  max-height: 100px;
}
.Header-container .logo .title {
  margin: 0;
  color: #000;
  font-size: 54px;
  font-family: /*'Segoe UI'*/ 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.Header-container .logo .subtitle {
  margin: 0;
  color: #000;
  font-size: 18px;
}

.Header-container .connection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
}
